/// Computes a top-shadow for a card effect.
/// @param {Number} $depth - depth level
/// @return {List}
@function top-shadow($depth) {
  $primary-offset: nth(1.5 3 10 14 19, $depth) * 1px;
  $blur: nth(1.5 3 10 14 19, $depth) * 4px;
  $color: rgba(black, nth(.12 .16 .19 .25 .30, $depth));

  @return 0 $primary-offset $blur $color;
}

/// Computes a bottom-shadow for a card effect.
/// @param {Number} $depth - depth level
/// @return {List}
@function bottom-shadow($depth) {
  $primary-offset: nth(1.5 3 6 10 15, $depth) * 1px;
  $blur: nth(1 3 3 5 6, $depth) * 4px;
  $color: rgba(black, nth(.24 .23 .23 .22 .22, $depth));

  @return 0 $primary-offset $blur $color;
}

/*
 * Finds a color between two colors using linear interpolation.
 * This will return a value inbetween the two color at a given interval/step and offset from the initial color.
 * Setps exclude the end colors, an offset of 1 will give the color at the first step.
 * Taken and modified from http://thesassway.com/advanced/how-to-programtically-go-from-one-color-to-another-in-sass
 */
@function color-interp($color-a, $color-b, $steps: 1, $offset: 1) {  
  @if ($steps < $offset) {
    @error "offset too large";
  }

  $scalar: 1/($steps+1);

  $hue: (hue($color-a) - hue($color-b)) * $scalar;
  $saturation: (saturation($color-a) - saturation($color-b)) * $scalar;
  $lightness: (lightness($color-a) - lightness($color-b)) * $scalar;

  $hue: $hue * $offset;
  $saturation: $saturation * $offset;
  $lightness: $lightness * $offset;

  $function-hue: 'adjust-hue';
  $function-saturation: if($saturation > 0, 'desaturate', 'saturate');
  $function-lightness: if($lightness > 0, 'darken', 'lighten');

  $color: $color-a;
  $diff: (
    #{$function-hue}: -($hue),
    #{$function-saturation}: abs($saturation),
    #{$function-lightness}: abs($lightness),
  );

  @each $key, $value in $diff {
    $color: call($key, $color, $value);
  }

  @return $color
}
