// -----------------------------------------------------------------------------
// This file contains all application-wide Sass mixins.
// -----------------------------------------------------------------------------

/// Event wrapper
/// @author Harry Roberts
/// @param {Bool} $self [false] - Whether or not to include current selector
/// @link https://twitter.com/csswizardry/status/478938530342006784 Original tweet from Harry Roberts
@mixin on-event($self: false) {
  @if $self {
    &,
    &:hover,
    &:active,
    &:focus {
      @content;
    }
  } @else {
    &:hover,
    &:active,
    &:focus {
      @content;
    }
  }
}

// /// Responsive manager
// /// @param {String} $breakpoint - Breakpoint
// /// @requires $breakpoints
// /// @link http://sass-guidelin.es/#breakpoint-manager Sass Guidelines - Breakpoint Manager
// @mixin respond-to($breakpoint) {
//   $query: map-get($breakpoints, $breakpoint);
// 
//   @if not $query {
//     @error 'No value found for `#{$breakpoint}`. Please make sure it is defined in `$breakpoints` map.';
//   }
// 
//   @media #{if(type-of($query) == 'string', unquote($query), inspect($query))} {
//     @content;
//   }
// }

// use hardware acceleration for filters
@mixin filter() {
  transform: translate3d(0, 0, 0);
  @content;
}

/// Gives a card depth effect.
/// @param {Number} $depth - depth level (between 1 and 5)
/// @link http://www.google.com/design/spec/layout/layout-principles.html#layout-principles-dimensionality Google Design
/// @requires {function} top-shadow
/// @requires {function} bottom-shadow
@mixin card($depth, $hover: false) {
  @if $depth < 1 {
    box-shadow: none;
  } @else if $depth > 5 {
    @warn "Invalid $depth `#{$depth}` for mixin `card`.";
  } @else {
    box-shadow: bottom-shadow($depth), top-shadow($depth);

    @if ($depth < 5 and $hover) {
      transition: box-shadow, 150ms;

      @include on-event {
        $hover-depth: $depth + 1;
        box-shadow: bottom-shadow($hover-depth), top-shadow($hover-depth);
      }
    }
  }
}

// // Give buttons similar hover colors and behaviors
// @mixin button($background, $text-color: false, $invert-hover: false) {
//   background-color: $background;
// 
//   @if $text-color {
//     color: $text-color
//   }
// 
//   @include on-event {
//     text-decoration: none;
// 
//     @if $invert-hover {
//       background-color: $background + $hover;
//     } @else {
//       background-color: $background - $hover;
//     }
// 
//     @if $text-color {
//       color: $text-color
//     }
// 
//     @content
//   }
// }
