// Fonts
// =====
$text-font-stack: 'Open Sans', sans-serif !default;

// Colors
// ======
/// Primary text color
$text-color: rgba(255, 255, 255, .65);
$secondary-text: rgba(255, 255, 255, .5);
$header-color: rgba(255, 255, 255, .7);

$link-color: #07dbe5;

$background-color: #212121; // only used for the document background

$title-background: #3b3b3b;
$body-background: #012535;

// color specific backgrounds
$orange-background: #673800;
$dark-blue-background: #012535;
$blue-background: #025A81;

$navbar-background: $title-background;
$navbar-hover-background: #484848;

// Screen sizes
$screen-small: 800px;
$max-width: 1200px;


$navbar-height: 50px;


$map-filters: ('temp-filter': (blue, red));
$map-filter-steps: 10;
