<template>
    <div id="create-game">
        <navbar></navbar>

        <div id="form">
            <div>
                <div>Game type:</div>
                <label>
                    <input type="radio" value="0" v-model="type">
                    Private
                </label>
                <label>
                    <input type="radio" value="1" v-model="type">
                    Public
                </label>
            </div>

            <label v-if="type == true">
                Room Name:
                <input type="text" v-model="name">
            </label>

            <label v-if="type == false">
                Password:
                <input type="password" v-model="password">
            </label>

            <div>
                <button @click="create">Create</button>
            </div>
        </div>
    </div>
</template>

<script>
  export default {
    data() {
      return {
        type: '0',
        name: '',
        password: '',
      }
    },

    created() {
      this.$eventBus.$once(this.$events.lobby.created, this.goToGame);
    },

    methods: {
      create() {
        this.$lobby.createGame(this.public == true, this.name, this.password);
      },

      goToGame(data) {
        this.$router.push({name: 'game lobby', params: {gameId: data.game}})
      }
    }
  }
</script>
