<template>
    <div id="game-lobby">
        <navbar></navbar>

        <div id="settings" v-if="!hostChosen">
            <div id="forms">
                <form v-if="settings">
                    <label>
                        Environment difficulty:
                        <select v-model="settings.difficulty">
                            <option value="0">easy</option>
                            <option value="1">medium</option>
                            <option value="2">hard</option>
                        </select>
                    </label>

                    <label>
                        Game length:
                        <select v-model="settings.length">
                            <option value="0">Short</option>
                            <option value="1">normal</option>
                            <option value="2">long</option>
                            <option value="3">extra long</option>
                        </select>
                    </label>

                    <label>
                        Galaxy size:
                        <select v-model="settings.size">
                            <option value="0">small</option>
                            <option value="1">normal</option>
                            <option value="2">large</option>
                            <option value="3">huge</option>
                        </select>
                    </label>

                    <label>
                        Galaxy Shape:
                        <select v-model="settings.shape">
                            <option value="0">Disk</option>
                            <option value="1">Spiral</option>
                            <option value="2">random</option>
                        </select>
                    </label>

                    <label>
                        Resource distribution:
                        <select v-model="settings.resourceBalance">
                            <option value="0">balanced</option>
                            <option value="1">random</option>
                            <option value="2">unbalanced</option>
                        </select>
                    </label>
                    <button @click="updateSettings">update</button>
                </form>

                <form v-if="player">
                    <label>
                        Player name:
                        <input v-model.lazy="player.name"/>
                    </label>
                    <label>
                        Player color:
                        <input v-model="player.color" type="color"/>
                    </label>
                    <button @click="updatePlayer">update</button>
                </form>
            </div>

            <div id="ready-host" v-if="player">
                <button @click="readyToggle" :class="{'green': player.ready, 'red': !player.ready}">
                    {{ player.ready ? 'ready' : 'not ready' }}
                </button>
                
                <button title="Only host if you have a good cpu" @click="hostGame">host game</button>
            </div>
        </div>

        <chat></chat>

        <div id="player-list">
            <div v-for="player in players">{{ player.name }}</div>
        </div>
    </div>
</template>

<script>
  import gamebar from './components/gamebar.vue'
  import chat from './components/chat.vue'

  import simpleSelect from 'vue-simple-select'
  import simpleOption from 'vue-simple-select/option'

  export default {
    props: [
      'gameId'
    ],

    components: {
      gamebar: gamebar,
      chat: chat,
      'simple-select': simpleSelect,
      'simple-option': simpleOption,
    },

    data(){
      return {
        settings: undefined,
        player: undefined,
        players: [],

        hostChosen: false,
      }
    },

    created() { // https://en.wikipedia.org/wiki/Graph_drawing#Layout_methods
      this.$eventBus.$once(this.$events.lobby.joined, this.joined);
      this.$eventBus.$once(this.$events.lobby.hostConnected, this.hostConnected);
      this.$eventBus.$once(this.$events.lobby.startGame, this.start);

      this.$eventBus.$on(this.$events.lobby.playerJoined, this.playerJoined);
      this.$eventBus.$on(this.$events.lobby.playerLeft, this.playerLeft);
      this.$eventBus.$on(this.$events.lobby.playerUpdated, this.playerUpdated);
      this.$eventBus.$on(this.$events.lobby.settingsUpdated, this.settingsUpdated);

      this.$log.debug('gameLobby', 'joining game');
      this.$lobby.joinGameLobby(this.gameId)
    },

    beforeDestroy() {
      this.$lobby.leaveGameLobby();
      this.$eventBus.$off(this.$events.lobby.playerJoined, this.playerJoined);
      this.$eventBus.$off(this.$events.lobby.playerLeft, this.playerLeft);
      this.$eventBus.$off(this.$events.lobby.playerUpdated, this.playerUpdated);
      this.$eventBus.$off(this.$events.lobby.settingsUpdated, this.settingsUpdated);
    },

    methods: {
      joined(data) {
        this.players = data.players;
        this.player = data.player
        this.settings = data.settings
        this.serverChat(String.format('joined game: %d', this.gameId));
      },

      playerJoined(data) {
        this.players[data.player.id] = data.player;

        this.serverChat(String.format('player joined: %s', data.player.name));
      },

      playerLeft(message) {
        this.players[data.player.id] = undefined;

        this.serverChat(message);
      },

      serverChat(message) {
        this.$eventBus.$emit(this.$events.chat, {user: {name: 'server', color: '#eeeeee'}, text: message});
      },

      updatePlayer() {
        this.$lobby.updatePlayer(this.player);
      },

      playerUpdated(data) {
        this.players[data.id] = data;
      },

      updateSettings() {
        this.$lobby.updateSettings(this.settings);
      },

      settingsUpdated(data) {
        this.settings = data;
      },

      readyToggle() {
        this.player.ready = !this.player.ready;
        this.updatePlayer();
      },

      hostGame() {
        this.$lobby.host(this.gameId);
      },

      hostConnected() {
        this.hostChosen = true;
        this.serverChat('game is generating, the game will start soon');
      },

      start(){
        //this.$router.push({name: 'game lobby', params: {game: game}})
      }
    }
  }
</script>
