<template>
  <div id="game">
    <gamebar></gamebar>
    <router-view></router-view>
  </div>
</template>

<script>
  import gamebar from './components/gamebar.vue'
  import starMap from './components/starMap.vue'

  export default {
    components: {
      gamebar: gamebar,
      starMap: starMap,
    },
    data() {
      return {}
    },
  }
</script>
