<template>
    <div id="home">
        <navbar></navbar>

        <div id="head">
            <h2>name</h2>
        </div>

        <div class="container">
        </div>
    </div>
</template>

<script>
  export default {}
</script>
