<template>
    <div id="lobby">
        <navbar></navbar>

        <!--<chat></chat>-->
        <!--<div class="chat">-->
            <!--<div class="chat-log"></div>-->
            <!--<textarea class="" title="chat"/>-->
        <!--</div>-->
    </div>
</template>

<script>
  export default {
    data() {
      return {
        create: false,
        chat: [],
        rooms: [],
      }
    },

    mounted() { // created or mounted?
      //net.joinGameLobby('test', (event) => {
      //  this.$log.debug('lobby', event);
      //});
    },
  }
</script>
