#game-lobby {
  display: grid;

  min-height: 100vh;

  grid-template-columns: 3fr 1fr;
  grid-template-rows: auto 5fr 2fr;

  grid-template-areas: "nav nav" "settings player-list" "chat player-list";

  nav {
    grid-area: nav;
  }

  #settings {
    grid-area: settings;
    margin: 10px;

    #forms {
      display: flex;
      flex-direction: row;

      form {
        width: 50%;
        margin: 40px 10px;

        label, div {
          display: block;
          margin: 10px 0;
        }
      }
    }

    #ready-host {
      display: flex;
      justify-content: flex-end;
    }

    button {
      width: 150px;
      margin: 0 20px;
    }
  }

  #chat {
    grid-area: chat;
  }

  #player-list {
    grid-area: player-list;
  }
}
