#home {
  $background: $dark-blue-background;

  #head {
    background-color: $background;
    padding: 80px 100px 100px;
    margin-bottom: 100px;

    h2 {
      padding: 20px;
    }
  }

  #info{

  }
}