button {
  background: $title-background;
  color: white;

  padding: 6px 20px;

  @include on-event(true) {
    border: none;
    outline: none;
  }

  $colors: (
          'green': hsl(122, 55%, 40%),
          'red': hsl(12, 60%, 40%),
          'blue': hsl(226, 60%, 40%),
  );
  @each $name, $color in $colors {
    .#{$name} {
      background: $color;
    }
  }
}