#chat {
  display: flex;
  flex-direction: column;
  max-height: 100%;
  min-height: 100%;

  .history {
    flex-grow: 1;
    overflow-y: auto;

    .line {

    }
  }

  input {
    min-height: 25px;
    width: 100%;
  }
}