.map {
  display: flex;
  flex-direction: column;

  height: 100%;

  & > svg {
    width: 100%;
    height: 100%;
    flex-grow: 1;

    //g *:not(g) {
    //  transform-origin: center center; // for rotation and scaling
    //}
  }

  .map-panel {
    flex-grow: 0;
    flex-basis: auto;
  }
}
