$height: $navbar-height;

nav {
  height: $height;
  flex-basis: auto;

  background: $navbar-background;
  line-height: $height;
  display: flex;

  div {
    text-align: center;
    flex-grow: 1;
  }

  a {
    padding: 0 20px;
    text-align: center;
    color: $header-color;

    @include on-event() {
      color: $header-color;
      background: $navbar-hover-background;
      text-decoration: none;
    }
  }
}

#home {
  nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }
  
  // navbar should not overlap content at the top
  nav + * { // root content element must follow nav element
    margin-top: $height;
  }
}

