.celestial-group {
  .star {
    fill: #fff;
  }

  .planet {
    
  }

  .atmosphere{
    fill: none;
    stroke: #ccc;
    stroke-width: 1;
    vector-effect: non-scaling-stroke;
  }

  .moon {
  }
}
