<template>
    <div id="chat">
        <div class="history">
            <div class="line" v-for="line in history">
                <span class="user" :style="{color: line.user.color}">{{ line.user.name }}</span>
                <span class="text">{{ line.text }}</span>
            </div>
        </div>

        <input title="Press enter to send" v-model="chatText" @keydown.enter="send"/>
    </div>
</template>

<script>
  export default {
    data() {
      return {
        chatText: '',
        history: [],
      }
    },

    created() {
      this.$eventBus.$on(this.$events.chat, this.updateChat);
    },

    methods: { // might be better to send chats via events
      updateChat(chat) {
        this.history.push(chat)
      },

      send() {
        this.$log.trace('chat', this.chatText);
        this.$lobby.sendChat(this.chatText);
        this.chatText = '';
      },
    },
  }
</script>
