<template>
    <nav>
        <!--<side-nav :is-opened="opened">-->
        <!--<li>First Text</li>-->
        <!--<li>test</li>-->
        <!--</side-nav>-->
        <div>{{ $route.name | capitalize }}</div>
    </nav>
</template>

<script>
  export default {
    components: {
      "side-nav": require("vue-side-nav") // https://github.com/vue-comps/vue-side-nav
    },

    data() {
      return {
        opened: true
      }
    },
  }
</script>
