<template>
    <nav>
        <router-link :to="{name: 'home'}">home</router-link>
        <div>{{ $route.name | capitalize }}</div>
        <!--<router-link :to="{name: 'lobby'}">Game Lobby</router-link>-->
        <router-link :to="{name: 'lobby'}">Lobby</router-link>
    </nav>
</template>

<script>
  export default {
    computed: {
      name: () => {
        n = $route.name;
	    n.charAt(0).toUpperCase() + n.slice(1);
      }
    }
  }
</script>
