<template>
    <div id="star-map" class="map">
        <svg id="star-map-svg" width="100%" height="100%">
            <g :transform="mapTransform">
                <connection-svg v-for="connection in connections" :position="connection.position"></connection-svg>
                <system-svg v-for="system in systems" :system="system" :filter="filter" :textScale="textScale"></system-svg>
            </g>
        </svg>
        <div id="star-map-panel"></div>
    </div>
</template>

<script>
  import systemSvg from './svg/system.vue'
  import connectionSvg from './svg/connection.vue'
  import map from '../mixins/map.js'

  let svg;

  export default {
    mixins: [
      map
    ],

    data() {
      return {
        systems: undefined, // vue won't watch these without declaring them
        connections: undefined,

        filter: {},
      }
    },

    components: {
      'system-svg': systemSvg,
      'connection-svg': connectionSvg
    },

    created() { // https://en.wikipedia.org/wiki/Graph_drawing#Layout_methods
      this.$eventBus.$on(this.$events.store.update, this.update);
      this.update();
    },

    mounted() {
      svg = document.getElementById('star-map-svg');
      this.addSvgListeners(svg);
    },

    beforeDestroy() {
      this.$eventBus.$off(this.$events.store.update, this.update);
    },

    methods: {
      update() { // update callback, see onUpdate in the store plugin for details
        this.systems = this.$store.get.systems();
        this.connections = this.$store.get.connections();

        for(var id in this.connections){
          let connection = this.connections[id];
          connection.position = {
            x1: this.systems[connection.systems[0]].position.x, // I'll leave it an array in case I want to do more with connections eventually
            y1: this.systems[connection.systems[0]].position.y,
            x2: this.systems[connection.systems[1]].position.x,
            y2: this.systems[connection.systems[1]].position.y,
          }
        }
      },
    },
  }
</script>
