<template>
    <div id="system-map" class="map">
      <svg id="system-map-svg" width="100%" height="100%">
        <g :transform="mapTransform">
          <orbit v-if="orbit" v-for="celestial in celestials" :celestial="celestial"></orbit>

          <entity v-for="celestial in celestials" :entity="celestial" :textScale="textScale"></entity>

          <entity v-for="entity in entities" :entity="entity"></entity>
        </g>
      </svg>
      <div id="star-map-panel"></div>
    </div>
</template>

<script>
  import orbit from './svg/orbit.vue'
  import entity from './svg/entity.vue'

  import map from '../mixins/map.js'

  let svg;

  export default {
    components: {
      'orbit': orbit,
      'entity': entity,
    },

    props: [
      'systemId',
    ],

    mixins: [
      map
    ],

    data() {
      return {
        celestials: undefined,
        entities: undefined,

        orbit: true,
      }
    },

    created() {
      this.$eventBus.$on(this.$events.store.update, this.update);
      this.update();
    },

    mounted() {
      svg = document.getElementById('system-map-svg');
      this.addSvgListeners(svg);
    },

    computed: {
    },

    beforeDestroy: function () {
      this.$eventBus.$off(this.$store.events.update, this.update);
    },

    methods: {
      update() { // update callback, see onUpdate in the store plugin for details
        this.celestials = this.$store.get.celestials(); // within certain system
        this.entities = this.$store.get.entities();

        for(var id in this.entities){
          let entity = this.entities[id];
          if(!entity.position || (entity.position.x === undefined && entity.position.y === undefined)) {
            if(!entity.position || entity.position.celestial === undefined){ // !0 === true, fuck you js
              console.error('entity, missing position information');
              continue;
            }

            entity.position.x = this.celestials[entity.position.celestial].position.x;
            entity.position.y = this.celestials[entity.position.celestial].position.y;
          }
        }
      },
    },
  }
</script>
