body {
  color: $text-color;
  font-family: $text-font-stack;
  line-height: 1.6em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $text-font-stack;

  &, & * {
    @include on-event(true) {
      color: $header-color;
    }
  }
}