#star-map-svg {
  // specific mixin for generating system styles for filters
  @mixin system($color, $filter: "") {
    .system-group#{$filter} { // filter must either be empty or begin with '.'
      cursor: pointer;

      circle {
        fill: $color;
        transition: .2s transform, .2s fill;
      }

      text {
        text-anchor: middle;
        dominant-baseline: hanging;
        font-size: 1.2em;
        fill: #dddddd;

        opacity: 0;
        visibility: hidden;
        transition: .2s opacity;
      }

      &:hover {
        circle {
          fill: $color + #333333;
          transform: scale(1.2);
          transition: .2s transform, .2s fill;
        }

        text {
          visibility: visible;
          opacity: 1;
          transition: .2s opacity;
        }
      }
    }
  }

  @include system(#999999); // default system style

  // generate filters defined in variables
  @each $filter, $colors in $map-filters {
    @for $i from 1 to $map-filter-steps {
      @include system(color-interp(nth($colors, 1), nth($colors, 2), $map-filter-steps, $i), ".#{$filter}-#{$i}"); // ugh
    }
  }
}
