<template>
    <g :id="groupId" class="colony">
        <rect class="medium" x="-6" y="-6" width="12" height="12"/>
    </g>
</template>

<script>
  let group;

  export default {
    props: [
      'entity',
    ],

    data() {
      return {
        groupId: this.$util.elementId(),
      }
    },

    mounted() {
      let group = document.getElementById(this.groupId);
      group.onclick = this.showInfo
    },

    computed: {
    },

    methods: {
      // showInfo: function(a,b,c) {
      //   this.$log.info([this, a,b,c]);
      //   this.$router.push({name: 'system', params: {id: this.system.id}}); // can't emit events, might as well use the router
      // },
    }
  }


</script>
