<template>
    <g :id="groupId" class="moon">
        <circle class="moon" r="15" :style="{fill: entity.stats.color}"></circle>
        <circle v-if="entity.stats.atmosphere" class="atmosphere" r="28"></circle>
    </g>
</template>

<script>
  let group;

  export default {
    props: [
      'entity',
      'textScale',
    ],

    data() {
      return {
        groupId: this.$util.elementId(),
      }
    },

    mounted() {
    },

    computed: {
    },

    methods: {
    }
  }
</script>
