<template>
    <g :id="groupId" class="system-group temp-filter">
        <polygon points="-3,-3 -2,0 -3,3 3,0" :transform="shipRotation" fill="#fff"></polygon>
        <!--<line x1="0" y1="0" :x2="entity.velocity.x" :y2="entity.velocity.y" stroke="white" stroke-width="1"/>-->
        <!--<animateTransform attributeName="transform" type="translate" from="0 0" :to="velocityAnimation" :dur="gameTickLength" repeatCount="indefinite"/>-->
    </g>
</template>

<script>
  let group;

  export default {
    props: [
      'entity'
    ],

    data: function() {
      return {
        groupId: this.$util.elementId(),

        gameTickLength: '1s',
      }
    },

    mounted() {
      group = document.getElementById(this.groupId);
    },

    computed: {
      shipRotation() {
        let rotation = Math.atan2(this.entity.velocity.y, this.entity.velocity.x) * (180 / Math.PI);
        return String.format('rotate(%d)', rotation);
      },
      velocityAnimation() {
        return String.format('%d %d', this.entity.velocity.x, this.entity.velocity.y);
      },
    },

    methods: {
    },

    //watch: {
    //  number: function(newValue, oldValue) {
    //    var vm = this
    //    function animate () {
    //      if (TWEEN.update()) {
    //        requestAnimationFrame(animate)
    //      }
    //    }
    //    new TWEEN.Tween({ tweeningNumber: oldValue })
    //      .easing(TWEEN.Easing.Quadratic.Out)
    //      .to({ tweeningNumber: newValue }, 500)
    //      .onUpdate(function () {
    //        vm.animatedNumber = this.tweeningNumber.toFixed(0)
    //      })
    //      .start()
    //    animate()
    //  }
    //}
  }
</script>
