<template>
    <g :id="groupId" class="star">
        <polygon class="star" :style="{fill: entity.stats.color}" points="-10,-10 0,-40 10,-10 40,0 10,10 0,40 -10,10 -40,0"></polygon>
    </g>
</template>

<script>
  let group;

  export default {
    props: [
      'entity',
      'textScale',
    ],

    data() {
      return {
        groupId: this.$util.elementId(),
      }
    },

    mounted() {
    },

    computed: {
    },

    methods: {
    }
  }
</script>
