<template>
  <g class="connection-group">
    <line :x1="position.x1" :y1="position.y1" :x2="position.x2" :y2="position.y2"/>
  </g>
</template>

<script>
  export default {
    props: [
      'position'
    ],

    data: function() {
      return {
        
      }
    },

    created: function () { // https://en.wikipedia.org/wiki/Graph_drawing#Layout_methods
      // this.$store.getSystems();
    },

    computed: {
      translate: function() {
        String.format('translate(%d, %d)', this.system.x, this.system.y);
      }
    },

    methods: {
    }
  }
</script>
