<template>
    <g :id="groupId" class="entity" :transform="transform" @click="select()">
        <component :is="entity.graphics.icon" :entity="entity"></component>
        <circle v-if="selected" r="50" class="entity-selection"/>
    </g>
</template>

<script>
  import colony from './icons/colony.vue'
  import moon from './icons/moon.vue'
  import planet from './icons/planet.vue'
  import ship from './icons/ship.vue'
  import star from './icons/star.vue'

  let group;

  export default {
    props: [
      'entity',
    ],

    components: {
      'colony': colony,
      'moon': moon,
      'planet': planet,
      'ship': ship,
      'star': star,
    },

    data() {
      return {
        groupId: this.$util.elementId(),

        selected: false,
      }
    },

    created() {
      this.$eventBus.$on(this.$events.map.deselect, this.deselect)
    },

    mounted() {
      group = document.getElementById(this.groupId);
    },

    computed: {
      transform() {
        return String.format('translate(%d, %d)', this.entity.position.x, this.entity.position.y);
      },
    },

    methods: {
      select() {
        if (this.selected) {
          this.selected = false;
        } else {
          this.$eventBus.$emit(this.$events.map.deselect);
          this.selected = true;
        }
      },

      deselect() {
        this.selected = false;
      },
    }
  }
</script>
