<template>
    <g v-if="celestial.stats.orbit" class="celestial-orbit" :transform="orbitTransform">
        <circle :r="orbitDistance"/>
    </g>
</template>

<script>
  export default {
    props: [
      'celestial',
    ],

    computed: {
      orbitTransform() {
        return String.format('translate(%d, %d)', this.celestial.parent.x, this.celestial.parent.y); // use textScale to scale with zoom
      },
      orbitDistance() {
        this.$log.trace('orbit', [this.celestial.position.x, this.celestial.position.y, this.celestial.parent.x, this.celestial.parent.y]);
        this.$log.trace('orbit', Math.sqrt(Math.pow(this.celestial.position.x - this.celestial.parent.x, 2) + Math.pow(this.celestial.position.y - this.celestial.parent.y, 2)));
        return Math.sqrt(Math.pow(this.celestial.position.x - this.celestial.parent.x, 2) + Math.pow(this.celestial.position.y - this.celestial.parent.y, 2));
      },
    },
  }

</script>
