<template>
    <g :id="groupId" class="system-group temp-filter" :transform="transform">
        <text x="0" :y="textY" :transform="textTransform">{{system.name}}</text>
        <circle r="15"></circle>
    </g>
</template>

<script>
  let group;

  export default {
    props: [
      'system',
      'filter', // filters are defined in the sass variables file
      'textScale',
    ],

    data: function() {
      return {
        groupId: this.$util.elementId(),
      }
    },

    mounted() {
      group = document.getElementById(this.groupId);

      group.onclick = this.systemInfo;
      group.ondblclick = this.viewSystem;
    },

    computed: {
      transform: function() {
        return String.format('translate(%d, %d)', this.system.position.x, this.system.position.y);
      },
      textTransform: function() {
        return String.format('scale(%f)', this.textScale);
      },
      textY: function() {
        return (15 + 5) / this.textScale; // radius plus offset, in case radius is ever changed
      },
    },

    methods: {
      systemInfo: function(a,b,c) {
        log.info('system', [this, a,b,c]);
      },

      viewSystem: function() {
        log.debug('system', [this.$router, this.$route]);
        this.$router.push({name: 'system map', params: {systemId: this.system.id}});
      }
    }
  }
</script>
